.search-box {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.paginate {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 93%;
}

.list-group {
    max-width: 150px;
    margin: 10px auto;
}

@media screen and (max-width: 600px) {
    .search-box {
        width: 90%;
        margin: 20px auto;
    }
    .list-group {
        max-width: 90%;
    }
}

.books-body {
    width: 90%;
    max-width: 1420px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}

.genre_books {
    display: flex;
    /* flex-direction: column; */
    overflow-x: auto;
}


.books_list {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    align-self: flex-start;
}

@keyframes slide_anim_left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes slide_anim_right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.slide_left {
    animation: slide_anim_left 0.5s;
}

.slide_right {
    animation: slide_anim_right 0.6s;
}

.card {
    align-self: center;
}

.card:hover {
    filter: brightness(90%);
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
    .books-body {
        width: 90%;
        margin: 20px auto;
    }
}

.card_img {
    height: 200px;
    object-fit: fit;
}

.card .card_badge {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-size: 1rem !important;
    border-radius: none !important;
    font-weight: bold;
}


.card_title {
    text-overflow: ellipsis;
    height: 50px;
    overflow: hidden;
}

.card_text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopping_button {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.to_cart {
    background-color: rgb(0, 254, 38);
    width: 40px;
}
.shopping_button:hover {
    background-color: rgb(0, 254, 38);
    color: #fff;
}

.shopping_button:disabled {
    background-color: rgb(45, 45, 45);
    color: rgb(255, 0, 0);
}


.slider_products {
    display: flex;
    align-items: center;
    position: relative;
    gap: 5px;
}

.slider_products h2 {
    margin-left: 100px;
}

.product_name {
    margin-left: 40px;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 1023px) {
    .shift_btn {
        display: none !important;
    }

    .slider_products {
        display: inline;
    }

    .product_name {
        margin-left: 0;
    }
}

.empty_books {
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}

.prev {
    position: absolute;
    left: -4%;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
}

.next {
    margin-bottom: 40px;
}

.sorting_ordering {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}