.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    margin-left: 1rem;
}



.btn_nav {
    margin-right: 30px;
}

.shopping_nav {
    margin-right: 20px;
    color: white !important;
    transform: scale(1.5);
}

.shopping_cart_group {
    position: relative;
}

.cart_total_items {
    position: absolute;
    right: 15%;
    bottom: 50%;
}

.user_nav_name {
    margin-right: 60px;
    color: white !important;
}